/* base styles */
* {
  margin: 0;
  font-family: "Arial";
  color: black;
}

:root {
  --main-bg-color: #f98424;
  --main-font-color: white;
}

.navbar {
  align-items: center;
  background-color: var(--main-bg-color);
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.navbar img {
  background: linear-gradient(to bottom right, red, yellow);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  background-color: lightgray;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  box-shadow: 6px 6px 3px darkslategray;
  height: auto;
  padding: 5px;
  width: 150px;
}

.navbar img:hover {
  cursor: pointer;
}

.navbar h1 {
  color: var(--main-font-color);
}

.navbar .links {
  margin-left: auto;
  font-size: 25px;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: var(--main-font-color);
  text-decoration: underline;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* trip details page */
.trip-details h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.trip-details div {
  margin: 20px 0;
}

.trips-list a {
  text-decoration: none;
}

.trip-card img {
  height: auto;
  max-width: 100%;
  border-radius: 10px;
}

.trip-card {
  position: relative;
}

.trip-card h2 {
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  text-align: center;
  border-radius: 5px;
}

.trip-card h3 {
  background-color: var(--main-bg-color);
  text-align: center;
  border-radius: 5px;
}

.trip-card span {
  font-size: 0.8em;
}

.leftTop {
  position: absolute;
  margin: 4px;
  padding: 4px;
}

.rightBottom {
  position: absolute;
  margin: 4px;
  padding: 4px;
  bottom: 4px;
  right: 0;
}

.rightTop {
  position: absolute;
  margin: 4px;
  padding: 4px;
  top: 0;
  right: 0;
}

.leftBottom {
  position: absolute;
  margin: 4px;
  padding: 4px;
  bottom: 4px;
  left: 0;
}

.trip-card:hover {
  border: 4px;
  border-style: solid;
  border-color: var(--main-bg-color);
  border-radius: 10px;
}

.trip-details img {
  height: auto;
  max-width: 100%;
}

#motorcycle {
  height: auto;
  width: 40px;
  position: absolute;
  margin: 4px;
  padding: 4px;
  top: 0;
  right: 0;
  background-color: var(--main-bg-color);
  border-radius: 10px;
}

#hiking {
  height: auto;
  width: 40px;
  position: absolute;
  margin: 4px;
  padding: 4px;
  top: 0;
  right: 0;
  background-color: var(--main-bg-color);
  border-radius: 10px;
}

.image-float {
  float: left;
  height: auto;
  width: 300px;
  margin-right: 10px;
}

button:hover {
  color: white;
  background-color: #d1660e;
}

button {
  background-color: var(--main-bg-color);
  border: none;
  padding: 10px 10px;
  margin: 10px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
}

.signup-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(10px, auto);
}

.signup-data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(10px, auto);
}

.signup-filler {
  background-color: var(--main-bg-color);
  margin-bottom: 20px;
  margin-top: 20px;
  height: 30px;
  width: auto;
}